@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");
.row {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-content-center {
    justify-content: center;
    justify-content: space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.none {
    display: none !important;
}

.body-fixed {
    position: fixed;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.ibg .img-ibg {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.validation-error-text {
    color: red;
    font-weight: bold;
}

li.counter {
    list-style-type: none;
    counter-reset: item;
}
li.counter li {
    position: relative;
    padding: 0px 0px 0px 45px;
}
li.counter li:before {
    counter-increment: item;
    content: counter(item);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #818181;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid #4274bb;
}

.video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* обнуление общих параметров */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
section,
header,
footer {
    display: block;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 360px;
    width: 100%;
}

input,
button,
textarea {
    font-family: "Ubuntu", sans-serif;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/* / обнуление общих параметров */
/*_fonts.scss*/
.main-title {
    font-size: 36px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.type-text-1 {
    font-size: 18px;
}

.section-title {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
}

.title-style-tree {
    font-size: 36px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.title-style-four {
    font-size: 26px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.title-style-five {
    font-size: 30px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.title-style-six {
    font-size: 20px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.t_strong {
    font-weight: 700;
}

.t_red {
    color: #f4504c;
}

/*_other.scss*/
input.error,
textarea.error {
    border-color: red;
}

.row_flex {
    display: flex;
}

.svg-icon {
    display: flex;
}
.svg-icon_info {
    width: 19px;
    height: 19px;
}
.svg-icon_col svg {
    fill: #f4504c;
}

.no-pointer {
    pointer-events: none;
}

.body__opas {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.link-icon {
    display: flex;
    align-items: center;
}
.link-icon__icon {
    position: relative;
    margin: 0 5px 0 0;
}
.link-icon__icon span {
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
}
.link-icon__text {
    color: #342f2c;
    font-weight: 300;
    transition: all 0.4s ease 0s;
}
.link-icon:hover .link-icon__text {
    color: #f4504c;
}

.social {
    margin-top: -2px;
    margin-right: 26px;
}
.social__list {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin: 0 10px 0 0;
}
.social__link_fb svg {
    max-width: 15px;
    height: 15px;
}
.social__link_tl svg {
    max-width: 19px;
    height: 16px;
}
.social__link_vk svg {
    max-width: 23px;
    height: 14px;
}
.social__link_yo svg {
    max-width: 20px;
    height: 15px;
}

.payment {
    display: flex;
    align-items: center;
    margin-right: -10px;
}
.payment__item:not(:last-child) {
    margin: 0 12px 0 0;
}

.pay-card {
    margin-top: -6px;
}

.payment__item.pay-card:not(:last-child) {
    margin: -6px 12px 0px 0;
}

.developer {
    color: #888481;
    font-weight: 300;
    margin: -4px -3px 0px 0px;
}
.developer a {
    color: #342f2c;
}
.developer a:hover {
    text-decoration: underline;
}

.svg-icon_label {
    width: 14px;
    height: 17px;
}

.svg-icon_arrows {
    width: 11px;
    height: 17px;
}

.svg-icon__burger {
    width: 14px;
    height: 12px;
}

.svg-icon__sms {
    width: 16px;
    height: 16px;
}

.svg-icon_date {
    width: 16px;
    height: 16px;
}

.svg-icon_ar-bot {
    width: 10px;
    height: 6px;
}

.svg-icon_id {
    width: 16px;
    height: 16px;
}

.svg-icon_eye {
    width: 18px;
    height: 12px;
}

.svg-icon_pen {
    width: 15px;
    height: 14px;
}

.vg-icon__ok {
    width: 20px;
    height: 20px;
}

.svg-icon__ok {
    width: 20px;
    height: 20px;
}

.svg-icon__x {
    width: 12px;
    height: 12px;
}

.el-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.el-info__text {
    font-weight: 300;
}
.el-info__item {
    display: flex;
    padding: 4px 0;
}
.el-info__item:not(:last-child) {
    align-items: center;
    margin-right: 22px;
}
.el-info__item .svg-icon {
    margin: 0 6px 0 0;
    width: 17px;
    height: 17px;
}

.wr-all {
    margin: 15px 0px 0 0;
    display: flex;
    justify-content: flex-end;
}

.anket-all {
    margin-right: -21px;
}

.reviews-all {
    margin: -3px 3px 0 0;
}

.text-center {
    text-align: center;
}

/*_header.kit*/
.header {
    background-color: #ffffff;
    position: relative;
    z-index: 20;
}
.header__row {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 22px 0;
}
.header__logo {
    max-width: 182px;
    max-height: 27px;
}
.header__logo img {
    width: 100%;
}
.header__link {
    font-size: 13px;
    text-transform: uppercase;
    color: #4b4540;
    transition: all 0.2s ease 0s;
    display: block;
}
.header__link:hover, .header__link_active {
    color: #f4504c;
}
.header__login-registration {
    display: flex;
    margin-right: -20px;
}
.header__login-registration svg {
    width: 16px;
    height: 16px;
    fill: #f4504c;
}
.header__login-registration span {
    margin: 0 0 0 8px;
}

.menu-header__list {
    margin: 0;
    display: flex;
}
.menu-header__item a {
    padding: 0px 17px 0 13px;
}

.rating {
    display: flex;
    /*align-items: end;*/
    padding: 0px 29px 0 0px;
}
.rating__list {
    margin:0;
    display: flex;
    align-items: center;
}
.rating__item .svg-icon {
    width: 18px;
    height: 16px;
}
.rating__item svg {
    fill: #ffd99d;
}
.rating__item_active svg {
    fill: #ffa210;
}
.rating__text {
    font-size: 13px;
    color: #aaa39d;
    margin: 0 0 0 8px;
}
.rating__text span {
    color: #4b4540;
    margin-right: 3px;
}
.rating__text:hover {
    color: #f4504c;
}

.burger-menu {
    width: 24px;
    height: 18px;
    position: relative;
    display: none;
    order: 1;
    transition: all 0.4s ease 0s;
}
.burger-menu::before, .burger-menu::after,
.burger-menu span::before,
.burger-menu span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #827168;
    transition: all 0.4s ease 0s;
}
.burger-menu::before {
    top: 0;
}
.burger-menu span::before,
.burger-menu span::after {
    top: 50%;
    margin-top: -1px;
}
.burger-menu::after {
    bottom: 0;
}
.burger-menu_active::before, .burger-menu_active::after {
    opacity: 0;
}
.burger-menu_active span::before {
    transform: rotate(-45deg);
}
.burger-menu_active span::after {
    transform: rotate(45deg);
}

.mob-menu {
    top: 64px;
    right: 0;
    transform: translateX(200%);
    position: fixed;
    padding: 30px 20px 20px 20px;
    max-height: calc(100% - 64px);
    height: 100vh;
    overflow-y: auto;
    max-width: 480px;
    width: 100%;
    background-color: #fafafa;
    box-shadow: -2px 7px 9px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease 0s;
    display: none;
}
.mob-menu_open {
    transform: translateX(0);
}

.header-user {
    order: 1;
}
.header-user__row {
    display: flex;
    align-items: center;
}
.header-user__img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
}
.header-user__img img {
    width: 100%;
}
.header-user__name {
    padding-left: 10px;
}
.header-user__name a {
    display: flex;
    align-items: center;
    color: #4b4540;
    font-size: 13px;
    text-transform: uppercase;
}
.header-user__name .svg-icon {
    margin-left: 8px;
    transition: all 0.4s ease 0s;
}
.header-user__name svg {
    width: 10px;
    height: 6px;
}
.header-user__name svg svg {
    fill: #4b4540;
}
.header-user__menu-wr {
    position: absolute;
    right: 0;
    min-width: 100%;
    top: 100%;
    padding-top: 10px;
    z-index: 15;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
}
.header-user__menu {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.3);
    padding: 15px;
    min-width: 100%;
}
.header-user__menu a {
    color: #4b4540;
    transition: all 0.4s ease 0s;
    display: inline-block;
    padding: 7px 0;
    font-weight: 400;
}
.header-user__menu a:hover {
    color: #f4504c;
}
.header-user__wr {
    position: relative;
}
.header-user__wr:hover .header-user__name .svg-icon {
    transform: rotate(-180deg);
}
.header-user__wr:hover .header-user__menu-wr {
    visibility: visible;
    opacity: 1;
}

/*_footer.scss*/
.footer {
    background-color: #ffffff;
}
.footer__row_top {
    padding: 45px 0 20px 0;
    margin: 0 -70px 0 0;
}
.footer__item {
    flex: 0 1 20%;
}
.footer__list_just {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footer__list a {
    color: #888481;
    transition: all 0.3s ease 0s;
    padding: 0;
    display: block;
    font-weight: 300;
    line-height: 28px;
}
.footer__list a:hover {
    color: #f4504c;
}
.footer__info {
    margin-bottom: 32px;
    margin-top: 5px;
}
.footer-bottom {
    border-top: 1px solid #eeeeed;
    padding: 46px 0 32px 0;
    justify-content: space-between;
    align-items: center;
    margin-right: -22px;
}
.footer__logo {
    max-width: 132px;
    max-height: 20px;
}
.footer__logo img {
    width: 100%;
}
.footer__year {
    margin: -2px 0 0 19px;
    color: #837d7d;
}

/*_buttons.scss*/
.site-btn {
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.bnt-type-one {
    font-family: "Philosopher", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 10px 37px;
    background-color: #F4504C;
    display: inline-block;
}
.bnt-type-one:hover {
    background-color: #fb615e;
}

.bnt-type-one1 {
    padding: 8px 20px 12px;
}

.bnt-type-one2 {
    padding: 9px 32px 11px;
}

.bnt-type-one3 {
    padding: 8px 37px 12px;
}

.btn-site-two {
    background-color: #fefefe;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 20px;
    display: inline-block;
    color: #f4504c;
}
.btn-site-two:hover {
    background-color: #fff5f5;
}

.all-btn-text {
    display: flex;
    align-items: center;
    color: #342f2c;
    font-weight: 300;
    transition: all 0.4s ease 0s;
}
.all-btn-text .svg-icon {
    margin: 0 10px 0 0;
}
.all-btn-text span {
    position: relative;
    margin-bottom: 1px;
}
.all-btn-text span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #a5a19d;
    opacity: 0;
    transition: all 0.4s ease 0s;
}
.all-btn-text:hover span::before {
    opacity: 1;
}

.btn-100 {
    width: 100%;
    text-align: center;
}

.btn-fon-15 {
    font-size: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.f_15 {
    font-size: 15px;
}

.btn-site-six {
    background-color: #4bb23a;
    border-radius: 2px;
    color: #ffffff;
    font-family: "Philosopher", sans-serif;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.4s ease 0s;
    padding: 8px 44px;
    display: inline-block;
}
.btn-site-six:hover {
    background-color: #5ecc4b;
}

.btn-site-7 {
    color: #342f2c;
    background-color: #d9d9d9;
}
.btn-site-7:hover {
    color: #342f2c;
    background-color: silver;
}

.btn-type-9 {
    width: 100%;
    padding: 11px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg-btn.png) center/cover no-repeat;
    color: #b4aeae;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.4s ease 0s;
}
.btn-type-9 svg {
    width: 9px;
    height: 12px;
    fill: #b4aeae;
    margin-right: 10px;
    margin-top: 3px;
    transition: all 0.4s ease 0s;
}
.btn-type-9:hover {
    color: #e5e3e3;
}
.btn-type-9:hover svg {
    fill: #e5e3e3;
}

.bnt-type-grey {
    background-color: #d9d9d9;
    color: #342f2c;
}
.bnt-type-grey:hover {
    background-color: #f3f3f3;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(19, 17, 16, 0.93);
}
.popup__cont {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__wrapp {
    background: #fefefe;
    position: relative;
}
.popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.popup__close svg {
    width: inherit;
    height: inherit;
    fill: #342f2c;
    transition: all 0.4s ease 0s;
    opacity: 0.4;
}
.popup__close:hover svg {
    opacity: 1;
}
.popup__wrapp_registr {
    max-width: 800px;
    width: 100%;
}
.popup__row {
    display: flex;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
}
.popup__text {
    font-size: 15px;
    margin: 5px 0 0 0;
    line-height: 1.6;
}
.popup__form {
    margin: 30px 0 0 0;
}
.popup__btn-row {
    margin: 15px 0 0 0;
}
.popup__wrapp_stand {
    max-width: 540px;
    width: 100%;
}
.popup__content {
    padding: 40px 50px 50px 50px;
    width: 100%;
}
.popup__content .popup__text {
    margin: 20px 0 0 0;
}
.popup__btn_two {
    display: flex;
    margin: 40px -5px 0 -5px;
    justify-content: center;
    width: 100%;
}
.popup__btn_two .site-btn {
    margin: 0 5px;
}
.popup__forget {
    width: 100% !important;
}

.popup__wrapp_payment {
    max-width: 780px;
    margin: 10px;
    width: calc(100% - 20px);
}

.popup-payment__left {
    width: 325px;
    background: url(../img/bg-payment.png) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.popup-payment__right {
    width: calc(100% - 325px);
    padding: 40px 50px 50px 70px;
    background: #F5F5F5;
}
.popup-payment__row {
    display: flex;
}
.popup-payment__cart {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.popup-payment__cart img:not(:last-child) {
    margin-right: 15px;
}

.payment__prise {
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
.payment__prise-text {
    font-size: 15px;
}
.payment__prise-price {
    font-size: 38px;
    margin: 15px 0 0 0;
    font-family: "Philosopher", sans-serif;
}

.payment__left-bot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cols-row {
    display: flex;
    margin: 0 -8px;
}
.cols-row .el-form {
    width: calc(50% - 16px);
    margin: 0 8px;
}

.el-form .info-text-dop {
    display: block;
    margin-top: 52px;
    color: #7c746f;
    font-weight: 300;
}

.wrap-select-tarifs {
    background: #F5F5F5;
}

.el-select__tarifs {
    margin: 0 3px 0 7px;
    background: #F5F5F5;
}

.form-row-btn_mar {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}
.form-row-btn_mar .site-btn {
    min-width: 260px;
}

.form-row-btn__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pay {
    background-color: #ffffff;
    border: 1px solid rgba(35, 33, 32, 0.09);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    color: #1c5a80;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: flex-end;
    margin: 0 auto;
    transition: all 0.4s ease 0s;
}
.btn-pay img {
    margin-left: 8px;
    width: 61px;
}
.btn-pay:hover {
    background-color: #f2f2f2;
}

.popup__dop-b {
    margin: 30px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid #dcdcdc;
}

.scroll-up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #dcdcdc;
    transition: all 0.4s ease 0s;
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;
}
.scroll-up:before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 3px solid red;
    width: 10px;
    height: 10px;
    border-right-width: 0;
    border-bottom-width: 0;
    transition: inherit;
    opacity: 0.6;
}
.scroll-up__path {
    box-sizing: border-box;
    fill: none;
    stroke: red;
    stroke-width: 3px;
    transition: all 0.4s ease 0s;
}
.scroll-up.scroll-up_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.scroll-up:hover:before {
    border-color: red;
    opacity: 1;
}

/*_select.scss*/
.el-select {
    position: relative;
    transition: 0.4s;
    margin-top: 0px;
}
.el-select:last-child {
    margin-left: -6px;
}
.el-select__main {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 19px 14px 19px;
    transition: all 0.2s ease 0s;
    position: relative;
}
.el-select__main::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: url(../img/gb-select.png) center/cover no-repeat;
    opacity: 0;
    transition: all 0.4s ease 0s;
}
.el-select__main:hover {
    background-color: #fefefe;
}
.el-select__main:hover::before {
    opacity: 1;
}
.el-select__text {
    margin: 0 0 0 6px;
    position: relative;
    z-index: 4;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    transition: all 0.2s ease 0s;
    font-weight: 300;
}
.el-select .svg-icon {
    position: relative;
    z-index: 4;
}
.el-select__content {
    position: absolute;
    background-color: #fefefe;
    box-shadow: 0 11px 17px rgba(186, 186, 186, 0.28);
    width: 100%;
    left: 0;
    top: 101%;
    border-top: 1px solid #e8e8e7;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    display: none;
    z-index: 20;
}
.el-select__list {
    background-color: #fefefe;
    max-height: 370px;
    overflow-y: auto;
    scrollbar-color: #f4504c #ffffff;
    scrollbar-width: 4px;
}
.el-select__list::-webkit-scrollbar {
    width: 4px;
    background-color: #ffffff;
}
.el-select__list::-webkit-scrollbar-thumb {
    background-color: #f4504c;
}
.el-select__item {
    position: relative;
    padding: 9px 10px 9px 30px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    text-overflow: ellipsis;
}
.el-select__item a {
    color: #342f2c;
}
.el-select__item_active, .el-select__item:hover {
    color: #ffffff;
    background-color: #FF635E;
}
.el-select__item_active a, .el-select__item:hover a {
    color: #ffffff;
}
.el-select__item_active::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 10px;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/svg/ico-check.svg) center/contain no-repeat;
}
.el-select_active .el-select__main {
    background-color: #fefefe;
}
.el-select_active .el-select__main::before {
    opacity: 1;
}

.el-select:hover .el-select__content {
    display: block;
    background: #F5F5F5;
}

.el-select__main.active {
    background-color: #fefefe;
}
.el-select__main.active::before {
    opacity: 1;
}

.el-select__main-ankets {
    padding: 13px 19px 14px 19px;
    margin: 3px 0 0 0;
}

.section-con-ankets .el-filetr__link {
    padding: 6px 0 6px 0;
}

.con-vacancies .el-filetr__link {
    padding: 6px 0 6px 0;
}
.con-vacancies .el-select__main {
    padding: 5px 19px 5px 19px;
    margin-top: 2px;
}

.el-select_city {
    width: 135px;
}

.el-select_servise {
    width: 185px;
}

.el-select_filter .el-select__main {
    box-shadow: inset 0 3px 2px rgba(112, 112, 112, 0.15);
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    padding: 7px 30px 7px 7px;
    margin: 0 3px 0 7px;
}
.el-select_filter .el-select__main .svg-icon {
    position: absolute;
    right: 15px;
    transition: all 0.3s ease 0s;
}
.el-select_filter .el-select__main svg {
    fill: #f4504c;
}
.el-select_filter .el-select__content {
    border-top: none;
}
.el-select_filter.el-select_active .el-select__main {
    border-radius: 4px 4px 0 0;
}
.el-select_filter.el-select_active .el-select__main .svg-icon {
    transform: rotate(-180deg);
}

.l-select__not_selected .el-select__main {
    opacity: 0.5;
}

body {
    line-height: 1.4;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background: #f7f7f6;
    color: #342f2c;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper__content {
    flex: 1 0 auto;
}

.wr-two-btn {
    display: flex;
    align-items: center;
    margin: 0 -8px 0 -8px;
}

.main-baner {
    background-color: #f0f3f4;
    padding: 9.5% 0 14.2% 0;
    position: relative;
}
.main-baner__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-baner__content {
    max-width: 500px;
    position: relative;
    z-index: 4;
    padding-left: 54px;
}
.main-baner__text {
    line-height: 36px;
    margin-top: 5px;
    font-weight: 300;
}
.main-baner__wr-btn {
    margin-top: 21px;
}
.main-baner__wr-btn .site-btn {
    margin: -2px 9px;
}

.section-con-ankets {
    padding: 27px 0 50px 0;
}

.section-con {
    padding: 26px 0 50px 0;
}
.section-con__row {
    display: flex;
}
.section-con__main {
    width: calc(100% - 220px);
    padding-right: 50px;
}
.section-con__aside {
    width: 240px;
    margin: 16px -20px 0 0px;
}

.con-news {
    padding-top: 44px;
}

.section-english {
    padding-top: 50px;
}

.section-con__aside-ankents {
    margin: -5px -20px 0 0px;
}

.section-con__aside-zero {
    margin-top: 0;
}

.section-reg {
    padding: 40px 0 50px 0;
}

.con-vacancies {
    padding: 39px 0 50px 0;
}

.el-filetr {
    border-bottom: 1px solid #e8e8e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.el-filetr__item {
    display: flex;
    align-items: center;
    margin-right: -26px;
}
.el-filetr-anket {
    margin-right: -45px;
}
.el-filetr__link {
    font-weight: 300;
    color: #342f2c;
    display: inline-block;
    padding: 0 0 6px 0;
    position: relative;
    transition: all 0.2s ease 0s;
}
.el-filetr__link:not(:last-child) {
    margin-right: 36px;
    padding-top: 10px;
}
.el-filetr__link:not(.el-filetr__link_active) {
    padding-top: 12px;
}
.el-filetr__link_active {
    font-family: "Philosopher", sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.el-filetr__link_active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #f03834;
}
.el-filetr__link:not(.el-filetr__link_active):hover {
    color: #f03834;
}

.ankets {
    padding: 10px 0 0 0;
}

.anket-item {
    background-color: #fefefe;
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
    margin: 10px 0 0 0;
    padding: 14px 30px 18px 30px;
}

.anket-item__title {
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    font-size: 18px;
    color: #342f2c;
    transition: all 0.4s ease 0s;
}
.anket-item__title:hover {
    color: #f03834;
}
.anket-item__row {
    margin: 2px 0 0 0;
}
.anket-item__text {
    color: #888481;
    margin: 2px 0 0 0;
    line-height: 23px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 540px;
}

.aside-baner {
    background-color: #f45753;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    padding-bottom: 8px;
}
.aside-baner__title {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    padding: 25px 25px 25px 25px;
}
.aside-baner__text {
    color: #ffffff;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 0 25px;
}
.aside-baner__text_mar {
    margin: -12px 0 0 0;
}
.aside-baner__btn {
    margin: 12px 30px 0 32px;
    padding: 0 0 25px 0;
    font-family: "Philosopher", sans-serif;
}
.aside-baner__btn .site-btn {
    width: 100%;
}
.aside-baner__btn .site-btn:not(:first-child) {
    margin-top: 10px;
}

.se-reviews {
    background-color: #ebe7e1;
    padding: 53px 0 48px 0;
}
.se-reviews__row {
    max-width: 852px;
}
.se-reviews_bg {
    background-image: url(../img/bg-reg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.reviews {
    clear: both;
    padding: 0 0 30px;
    display: flex;
}
.reviews_margin {
    margin: 13px -10px 0 -10px;
    clear: both;
}
.reviews__item {
    flex: 0 0 calc((100% / 3) - 20px);
    margin: 0 10px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 1px 15px rgba(186, 186, 186, 0.1);
    padding: 26px 27px;
    border-radius: 20px 20px 0 20px;
    clear: both;
}
.reviews__item::before {
    content: "";
    position: absolute;
    top: 97%;
    right: -2px;
    width: 30px;
    height: 22px;
    background: url(../img/icons/rad.png) center/contain no-repeat;
}
.reviews__img {
    width: 42px;
    height: 42px;
    margin: 0 9px 0 0;
    float: left;
}
.reviews__text {
    color: #342f2c;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0px;
    padding-left: 2px;
}
.reviews__autor {
    opacity: 0.8;
    color: #6e6e6e;
    margin: 11px 0 0 0;
    font-weight: 300;
    font-size: 13px;
}

.reviews_margin .slick-track {
    padding-bottom: 15px;
}

.se-worker {
    padding: 34px 0 50px 0;
}

.worker {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 0 -10px;
}
.worker__item {
    margin: 18px 10px 0 10px;
    /*flex: 0 0 calc(25% - 20px);*/
    width: 270px;
}

.worker-item {
    background-color: #ffffff;
}
.worker-item__img {
    width: 100%;
    position: relative;
    padding-bottom: 87%;
}
.worker-item__img img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.worker-item__content {
    padding: 16px 28px 22px 28px;
}
.worker-item__title {
    font-family: "Philosopher", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #342f2c;
    transition: all 0.4s ease 0s;
}
.worker-item__title:hover {
    color: #f45753;
}
.worker-item__info {
    color: #888481;
    margin-top: 1px;
    font-weight: 300;
}
.worker-item__el {
    display: flex;
    align-items: center;
    margin: 9px 0 0 0;
    font-weight: 300;
}
.worker-item__el .svg-icon {
    margin-right: 5px;
}

.news {
    padding: 10px 0 0 0;
}

.new-item-height {
    max-height: 235px;
}

.new-item {
    background-color: #ffffff;
    display: flex;
    margin: 10px 0 0 0;
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
}
.new-item__img {
    width: 270px;
    height: 235px;
    position: relative;
}
.new-item__img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.new-item__img-img {
    height: 235px;
}
.new-item__img-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.new-item__content {
    width: calc(100% - 270px);
    padding: 23px 40px 23px 40px;
    position: relative;
    overflow: hidden;
}
.new-item__title {
    font-size: 18px;
    color: #342f2c;
    font-weight: 700;
    transition: all 0.4s ease 0s;
    font-family: "Philosopher", sans-serif;
}
.new-item__title:hover {
    color: #f45753;
}
.new-item__date {
    display: flex;
    margin: 6px 0 0;
}
.new-item__date .svg-icon {
    margin: 0 8px 0 0;
}
.new-item__text {
    margin: 8px 0 0 0;
    color: #888481;
    line-height: 26px;
    font-weight: 300;
}
.new-item__text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.new-item__el-info {
    margin: 6px 0 0 0;
}

.mtpc0 {
    margin-top: 0;
}

.bgwhite {
    background-color: #fefefe;
}

.pagination {
    background-color: #ffffff;
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
    padding: 10px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.pagination__btn {
    display: flex;
    align-items: center;
    color: #4d4d4d;
    font-weight: 700;
    font-size: 15px;
    font-family: "Philosopher", sans-serif;
    background-color: #f5f5f4;
    border-radius: 4px;
    padding: 9px 10px 9px 22px;
    transition: all 0.4s ease 0s;
    line-height: 0;
}
.pagination__btn .svg-icon {
    margin: 0 11px;
}
.pagination__btn svg {
    width: 8px;
    height: 12px;
    fill: #4d4d4d;
}
.pagination__btn_prev {
    padding: 9px 22px 9px 10px;
}
.pagination__btn.no-pointer {
    opacity: 0.6;
}
.pagination__btn:hover {
    background-color: #ddddd9;
}
.pagination__items {
    display: flex;
    align-items: center;
    /*margin-left: 40px;*/
}
.pagination__item a {
    padding: 10px 15px;
    color: #342f2c;
}
.pagination__item a:hover {
    color: #f4504c;
}
.pagination__item_active a {
    color: #f4504c;
}

.wr-filters {
    margin-top: 72px;
}

.filter {
    width: 100%;
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
    background-color: #fcfcfc;
    padding: 24px 28px 30px 28px;
}
.filter__row:not(:first-child) {
    margin-top: 20px;
}
.filter__row-item {
    margin-top: 11px;
}
.filter__row-btn {
    margin-top: 30px;
}
.filter__title {
    font-size: 18px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
}

.filter-list__item:not(:first-child) {
    margin: 10px 0 0 0;
}
.filter-list__item_none {
    display: none;
}

.page-forms__cont:not(:first-child).page-top-form {
    margin-top: 21px;
}

.page-down-form {
    margin-bottom: 18px;
}

.el-check {
    display: flex;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: flex-start;
}
.el-check.error .check-text {
    color: #f4504c;
}

.el-check-top {
    padding-top: 14px;
}

.shecked-icon {
    min-width: 19px;
    min-height: 19px;
    box-shadow: inset 0 3px 2px rgba(112, 112, 112, 0.15);
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    position: relative;
    display: block;
    margin: 0 7px 0 0;
    transition: all 0.2s ease 0s;
}

.check-text {
    color: #342f2c;
    font-weight: 300;
}

.form-checkbox {
    display: none;
}
.form-checkbox:checked + .shecked-icon {
    background: #F4504C url(../img/svg/checked.svg) 53% 50%/60% no-repeat;
    box-shadow: none;
    border: none;
}

.filter-le-row {
    display: flex;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    box-shadow: inset 0 3px 2px rgba(112, 112, 112, 0.15);
}

.filter-le__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 6px 0;
}
.filter-le__item:first-child {
    border-right: 1px solid rgba(112, 112, 112, 0.15);
    padding-left: 15px;
    padding-right: 5px;
}
.filter-le__item:last-child {
    padding-right: 5px;
    padding-left: 15px;
}
.filter-le__input {
    flex: 1 1 auto;
    width: calc(100% - 21px);
    background-color: #ffffff;
    color: #342f2c;
    font-family: "Ubuntu", sans-serif;
    padding: 5px 0;
    -moz-appearance: textfield;
}
.filter-le__input::-webkit-inner-spin-button {
    display: none;
}
.filter-le__text {
    padding-right: 5px;
}

.filter-list__all {
    display: flex;
    align-items: center;
    color: #948377;
    margin: 0 0 0 29px;
    transition: all 0.3s ease 0s;
}
.filter-list__all .svg-icon {
    margin: 0 0 0 8px;
}
.filter-list__all svg {
    fill: #948276;
    transition: all 0.3s ease 0s;
}
.filter-list__all span {
    position: relative;
}
.filter-list__all span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px dotted #948276;
    transition: all 0.3s ease 0s;
}
.filter-list__all:hover {
    color: #f45753;
}
.filter-list__all:hover span:before {
    border-color: #f45753;
}
.filter-list__all:hover svg {
    fill: #f45753;
}
.filter-list__all.active svg {
    transform: rotate(-180deg);
}

.row-lab {
    position: relative;
}

.type-input {
    box-shadow: inset 0 3px 2px rgba(112, 112, 112, 0.15);
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    padding: 2px 15px 2px 15px;
    height: 36px;
    background-color: #ffffff;
    width: 100%;
    color: #999795;
}

.no-center {
    align-items: start;
}

.type-input::placeholder {
    color: #999795;
}

.type-input.in-error {
    background-color: #fff6f6;
}

.type-input_search {
    background: #ffffff url(../img/svg/icon-search.svg) 97% 50%/18px 17px no-repeat;
    padding: 2px 32px 2px 10px;
}

.pages {
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
    background-color: #fefefe;
}
.pages__item {
    padding: 40px 50px 40px 50px;
}

.english__item {
    padding: 28px 50px 60px 50px;
}

.vacancy__info {
    font-size: 17px;
    color: #888481;
    padding: 10px 0 0 0;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 32px;
}
.vacancy_el_info {
    margin: 20px 0 30px 0;
}
.vacancy_el_info .el-info__item .svg-icon {
    width: 20px;
    height: 20px;
}
.vacancy_el_info .el-info__text {
    font-size: 17px;
}
.vacancy__list-item li {
    display: flex;
}
.vacancy__list-item li:not(:first-child) {
    margin: 15px 0 0 0;
}

.vacancy-list {
    font-size: 16px;
}
.vacancy-list__left {
    width: 135px;
    margin-right: 20px;
    font-weight: 300;
}
.vacancy-list__right {
    color: #888481;
    font-weight: 300;
}

.el-hr {
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background-color: #e4e3e3;
}

.el-mob {
    display: none;
}

.el-other {
    margin: 40px 0;
}

.section-text {
    font-size: 16px;
}
.section-text_mar {
    margin-top: 30px;
}
.section-text h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 30px 0 15px 0;
    font-family: "Philosopher", sans-serif;
}
.section-text h3,
.section-text h4 {
    line-height: normal;
}
.section-text h4 {
    margin: 25px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.section-text p,
.section-text ul,
.section-text ol {
    line-height: 32px;
    font-weight: 300;
}
.section-text a {
    color: #f4504c;
}
.section-text a:hover {
    text-decoration: underline;
}
.section-text .vacancy__list-item li:not(:first-child) {
    margin-top: 8px;
}

.article-info {
    display: flex;
    justify-content: flex-end;
    row-gap: 10px;
    margin-top: 20px;
    column-gap: 15px;
}
.article-info_mar {
    margin: 40px 0 0 0;
}
.article-info__item {
    display: flex;
    align-items: center;
    color: #888481;
}
/*.article-info__item:not(:last-child) {*/
/*  margin-right: 20px;*/
/*}*/
/*.article-info__item .svg-icon {*/
/*  margin: 0 8px 0 0;*/
/*}*/

.response {
    padding-bottom: 46px;
    background-color: #f9f9f9;
}
.response__text {
    line-height: 1.7;
    font-size: 16px;
    margin: 20px 0 0 0;
}
.response__form {
    margin: 15px 0 0 0;
}
.response__top {
    max-width: 580px;
}

.el-form {
    position: relative;
}

.el-form-row:not(:first-child) {
    margin-top: 4px;
}

.el-form-row:not(:first-child).form-margin {
    margin-top: 17px;
}

.el-form-row:not(:first-child).form-margin2 {
    margin-top: 23px;
}

.text-form-item {
    color: #342f2c;
    padding-top: 3px;
    display: block;
    font-weight: 500;
}
.text-form-item span {
    font-weight: 400;
}

.text-form-item:first-child {
    padding-bottom: 4px;
}

.text-item-english {
    line-height: normal;
    padding-bottom: 3px;
}

.type-textarea {
    width: 100%;
    resize: none;
    box-shadow: inset 0 3px 2px rgba(112, 112, 112, 0.15);
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    border-radius: 4px;
    height: 163px;
    padding: 10px 15px;
}

.form-row-btn {
    margin: 20px 0 0 0;
}
.form-row-btn_end {
    display: flex;
    justify-content: flex-end;
}

.hail {
    margin: 0px 0 0 0;
    max-width: 650px;
}
.hail__item:not(:first-child) {
    margin: 20px 0 0 0;
}

.item-hail {
    display: flex;
}
.item-hail__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.item-hail__img img {
    width: 100%;
    border-radius: inherit;
}

.item-hail__content {
    width: calc(100% - 50px);
    padding: 0 0 0 18px;
}
.item-hail__top {
    display: flex;
}
.item-hail__name {
    font-weight: 500;
    font-size: 15px;
}
.item-hail__date {
    margin: 0 0 0 10px;
    color: #888481;
    display: flex;
    align-items: center;
}
.item-hail__text {
    line-height: 1.6;
    margin: 4px 0 0 0;
}
.item-hail__text a {
    color: #f45753;
}
.item-hail__text a:hover {
    text-decoration: underline;
}

.section-text_p p {
    margin-top: 16px;
    font-weight: 300;
}

.el-form-row_col {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}
.el-form-row_col .el-form {
    margin: 0 20px;
    flex: 1 1 auto;
    position: relative;
}
.show_pass {
    position: absolute;
    right: 8px;
    bottom: 7px;
    cursor: pointer;
    z-index: 5;
}

.show_pass_two {
    position: absolute;
    right: 8px;
    bottom: 7px;
    cursor: pointer;
    z-index: 5;
}
.svg_one_pass_act {
    display: none;
}
.svg_one_pass, .svg_one_pass1,
.svg_one_pass_act,
.svg_one_pass_act1{
    height: 18px;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
}
.svg_one_pass_act1 {
    display: none;
}

.iti__flag {background-image: url("path/to/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("path/to/flags@2x.png");}
}

.in-error {
    border-color: #ff7c79;
    box-shadow: inset 0 3px 2px rgba(245, 88, 84, 0.15);
}

.el-error {
    position: absolute;
    right: 0;
    bottom: 100%;
    padding: 10px 19px;
    color: #ffffff;
    background-color: #F45E5A;
    border-radius: 3px 3px 0 3px;
    font-weight: 500;
}
.el-error::before {
    content: "";
    position: absolute;
    top: 99%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #f4504c;
    border-left: 10px solid transparent;
}

.body-fix {
    overflow: hidden;
}

.autorization {
    padding: 40px 60px 40px 69px;
    background-color: #f5f5f5;
    width: 50%;
}

.form-row-btn_f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-row-btn_f .el-check {
    margin-right: 23px;
}

.type-link-dot {
    color: #342f2c;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.type-link-dot::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px dotted #342f2c;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
}
.type-link-dot:hover {
    color: #f4504c;
}
.type-link-dot:hover::before {
    border-color: #f4504c;
}

.applicants__item_mobile {
    margin-bottom: 40px;
}

.applicants {
    width: 50%;
    padding: 40px 60px 45px 60px;
}
.applicants__item:not(:first-child) {
    margin: 40px 0 0 0;
}
.applicants__item:nth-child(2) {
    margin-top: 0;
}
.applicants .btn-site-six {
    padding-left: 10px;
    padding-right: 10px;
    width: 194px;
    text-align: center;
}

.aside-menu {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
    background-color: #fcfcfc;
    padding: 9px 0 17px 0;
}
.aside-menu__link {
    color: #342f2c;
    transition: all 0.4s ease 0s;
    width: 100%;
    padding: 11px 40px 11px 30px;
    display: inline-block;
}
.aside-menu__link:hover, .aside-menu__link_active {
    color: #f45753;
}
.aside-menu__link_active {
    background-color: #f8f8f8;
}

.tariffs {
    margin: 40px 0 0 0;
}

.tariff-item {
    background: #f7f4f0 url(../img/tariff-bg.png) center/cover no-repeat;
    position: relative;
    padding: 35px 50px 40px 49px;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 300;
}
.tariff-item:not(:first-child) {
    margin: 20px 0 0 0;
}
.tariff-item__main {
    max-width: 525px;
    padding-right: 35px;
}
.tariff-item__list {
    margin: 15px 0 0 0;
    padding: 0 0 0 25px;
    font-weight: 300;
    font-size: 15px;
}
.tariff-item__item {
    list-style-image: url(../img/svg/ico_g.svg);
    padding: 0 0 0 0px;
}
.tariff-item__item:not(:first-child) {
    margin: 18px 0 0 0;
}
.tariff-item__price {
    text-align: center;
    color: #342f2c;
    font-size: 22px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
}
.tariff-item__btn {
    margin: 20px 0 0 0;
}

.questionnaire__top {
    display: flex;
}
.questionnaire__left {
    width: 330px;
}
.questionnaire__left .article-info {
    margin: 18px 0 0 0;
    justify-content: flex-start;
}
.questionnaire__left:hover .slider-dots {
    opacity: 1;
}
.questionnaire__img {
    position: relative;
}
.questionnaire__img img {
    width: 100%;
    object-fit: cover;
}
.questionnaire__znak {
    position: absolute;
    right: 0;
    top: 0;
}
.questionnaire__item-znak {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
}
.questionnaire__item-znak_star {
    background-color: #ffa210;
}
.questionnaire__item-znak_star svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
}
.questionnaire__item-znak_phone {
    background-color: #f4504c;
}
.questionnaire__item-znak_phone svg {
    width: 21px;
    height: 22px;
    fill: #ffffff;
}
.questionnaire__item-znak_phone:hover {
    background-color: #f1211c;
}
.questionnaire__contact {
    width: calc(100% - 330px);
    padding: 0 0 0 45px;
    position: relative;
}
.questionnaire__title {
    padding-right: 40px;
    padding-right: 30px;
    margin-top: -10px;
}
.questionnaire__info {
    margin: 2px 0 0 0;
    color: #888481;
    font-size: 18px;
    font-weight: 300;
}
.questionnaire__row-list {
    margin: 30px 0 0 0;
}
.questionnaire__row-list .vacancy-list__left {
    width: 100px;
    min-width: 100px;
}
.questionnaire__row-list .vacancy__list-item li:not(:first-child) {
    margin: 10px 0 0 0;
}
.questionnaire__heart {
    position: absolute;
    top: 0;
    right: -10px;
}
.questionnaire__heart svg {
    width: 24px;
    height: 24px;
}


.questionnaire__heart .svg-icon:nth-of-type(1) svg {
    fill: #cccccc;
}

.questionnaire__heart .svg-icon:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
}

.questionnaire__heart .svg-icon:nth-of-type(2) svg {
    fill: #f4504c;
}

.questionnaire__heart:hover .svg-icon:nth-child(2), .questionnaire__heart .svg-icon.active:nth-child(2) {
    opacity: 1;
}

.el-info_mod {
    flex-direction: column;
    align-items: flex-start;
    margin: 18px 0 0 0;
}
.el-info_mod .el-info__item:not(:first-child) {
    margin: 0px 0 0 0;
}

.schedule {
    padding-top: 10px;
}

.table-schedule {
    display: grid;
    grid-template-rows: repeat(7, minmax(35px, 1fr));
    grid-auto-rows: 35px;
}
.table-schedule__row {
    display: grid;
    grid-template-columns: 220px repeat(7, 1fr);
}
.table-schedule__row:not(:first-child) {
    background-color: #fcfbfa;
}
.table-schedule__row_bol {
    font-weight: 500;
}
.table-schedule__row:not(:first-child) {
    margin-top: 3px;
}
.table-schedule__row:nth-child(even) {
    background-color: #f9f7f5;
}
.table-schedule__row:nth-child(even) .table-schedule__col:first-child {
    background-color: #f5f2f0;
}
.table-schedule__row .table-schedule__col:first-child {
    padding: 0 5px 0 20px;
}
.table-schedule__row .table-schedule__col:not(:first-child) {
    justify-content: center;
}
.table-schedule__col {
    align-items: center;
    display: grid;
}

.hail_mod {
    margin-top: 20px;
}
.hail_mod .item-hail__date {
    margin-left: 0;
}
.hail_mod .item-hail__content {
    width: 100%;
    padding-left: 0;
}

.btn-site-7 {
    background-color: #d9d9d9;
    color: #342f2c;
}

.form-row-btn_mar {
    margin: 30px 0 0 0;
}

.wr-body {
    margin: 20px 0 40px 0;
}

.el-email {
    box-shadow: 0 1px 17px rgba(186, 186, 186, 0.15);
    background-color: #fefefe;
    padding: 30px 60px 45px 38px;
    line-height: 1.6;
    font-size: 15px;
}
.el-email__title {
    font-size: 19px;
    font-weight: 700;
    font-family: Arial;
}
.el-email a {
    color: #f4504c;
    font-family: Arial;
}
.el-email a:hover {
    text-decoration: underline;
}
.el-email p {
    font-family: Arial;
}

.el-social {
    margin: 20px 0 0 40px;
    display: flex;
}
.el-social__text {
    color: #a0a0a0;
    font-size: 13px;
    max-width: 480px;
}
.el-social .social {
    margin-left: 15px;
}

.ui-datepicker-trigger {
    margin-left: 5px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.auth-driver {
    display: block;
    width: 25px;
    margin: 10px;
}

.auth-driver img {
    width: 100%;
}

.m-t-10 {
    margin-top: 10px;
}

/*страница форма регистрация*/
.page-forms__max-w {
    max-width: 485px;
}
.page-forms__cont:not(:first-child) {
    margin-top: 43px;
}
.page-forms__text {
    max-width: 645px;
    line-height: 28px;
    font-weight: 300;
    font-size: 16px;
}

.page-bottom {
    margin-bottom: 20px;
}

.title-form-h {
    font-size: 20px;
    margin: 20px 0;
    color: #342f2c;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
}

.form-row-wr {
    margin: 17px 0 0 0;
}

.img-form {
    border: 2px dashed #ebebeb;
    text-align: center;
    padding: 30px 100px;
    display: block;
    cursor: pointer;
    position: relative;
}
.img-form__text {
    font-size: 16px;
    color: #756c66;
    line-height: 28px;
    font-weight: 300;
    max-width: 434px;
}
.img-form__btn {
    display: flex;
    justify-content: center;
    margin: 27px 0 0 0;
}
.img-form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
.img-form:hover .site-btn {
    background-color: #fb615e;
}

.el-form-row_three {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
}

.el-form-row_three > .el-form {
    margin: 0 20px;
    flex: 0 1 calc(33.03% - 40px);
}
.custom_form_class{
    margin: 0 20px;
    flex: 0 1 calc(100% - 40px) !important;
}
.custom_class{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 50px;
    width: 100%;
}

.pos {
    position: relative;
}

.wr-tops {
    margin-top: 0px;
}

.type-input_date {
    padding-left: 45px;
}

.ui-datepicker-trigger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.el-form_w_flex {
    flex: 1 1 auto !important;
}

.salary {
    display: flex;
    height: 36px;
    border: 1px solid #c9c9c9;
    box-shadow: inset 0 3px 2px rgba(112, 112, 112, 0.15);
    background-color: #ffffff;
    border-radius: 4px;
}
.salary__price {
    position: relative;
    width: 50%;
}
.salary-in {
    -moz-appearance: textfield;
    width: 100%;
    height: 100%;
    padding: 0 35px 0 15px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #c9c9c9;
}
.salary-in::-webkit-inner-spin-button {
    display: none;
}
.salary__currency {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #342f2c;
}
.salary__select {
    width: 50%;
}
.salary__select .el-select_filter .el-select__main {
    box-shadow: none;
    border: none;
    padding-left: 5px;
}
.salary__select .el-select__content {
    top: 101%;
}

.el-form-row_two {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}
.el-form-row_two > .el-form {
    flex: 0 1 calc(50% - 40px);
    margin: 0 20px;
}

.el-form-row__marg {
    margin-top: 40px;
}

.ancet-search {
    padding-top: 20px;
}
.ancet-search__text {
    color: #948377;
    font-weight: 300;
    padding: 6px 0 8px 0;
}

.slider-btn.on {
    background: #64c43a;
    transition: 0.4s;
}

.slider-btn {
    width: 60px;
    height: 26px;
    border-radius: 13px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    display: block;
    transition: 0.4s;
}
.slider-btn__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#e4e4e4;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: all 0.4s ease 0s;
}
.slider-btn__check {
    display: none;
}
.slider-btn__check:checked + .slider-btn__icon {
    left: calc(100% - 24px);
    background-color:#ffffff ;


}

.slider-row-btn {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    flex-wrap: wrap;

}
.slider-row-btn__left {
    margin-right: 10px;
}
.slider-row-btn__right {
    margin-left: 10px;
}

.page-forms-bot {
    padding-top: 18px;
    display: flex;
}
.page-forms-bot__right {
    margin-left: 0px;
}

.btn-filter {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.btn-filter svg {
    width: 16px;
    height: 16px;
    fill: #f4504c;
}
.btn-filter__col {
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 11px;
    background-color: #f4504c;
    margin-bottom: -4px;
    margin-left: -3px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    min-width: 0;
}

.slick-dots {
    display: flex;
    align-items: center;
}
.slick-dots li {
    margin: 0 6px;
}
.slick-dots button {
    font-size: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fdfcfc;
    box-shadow: 0 5px 21px rgba(105, 88, 73, 0.89);
}
.slick-dots .slick-active button {
    width: 12px;
    height: 12px;
    background-color: #f03834;
    box-shadow: none;
}
.slick-dots_mod button {
    box-shadow: none;
}
.aside-baner__btn .btn-site-two{padding:8px 10px 11px !important;}
.slider-dots {
    display: flex;
    justify-content: center;
}
.slider-dots_img {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 25;
    transition: all 0.4s ease 0s;
    opacity: 0;
}
.slider-dots_img li {
    margin: 0 4px;
}
.slider-dots_img li button {
    width: 6px;
    height: 6px;
    opacity: 0.7;
}
.slider-dots_img .slick-active button {
    width: 6px;
    height: 6px;
    background: #ffffff;
    opacity: 1;
}
.slider-dots_mod button {
    box-shadow: none;
    background-color: #bfb2aa;
}

.el-filetr__item_fil {
    display: none;
}

.preloader {
    display: flex;
    justify-content: center;
}
.preloader_mar {
    margin-top: 30px;
}
.preloader__icon {
    width: 44px;
    height: 44px;
    background: url(../img/icons/preload.png) center/cover no-repeat;
    animation: preloader 1s linear infinite;
}

@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.new-item__top-item {
    display: flex;
    color: #cccccc;
    font-style: italic;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0;
    transition: all 0.4s ease 0s;
}
.new-item__top-item.active {
    opacity: 1;
}
.new-item:hover .slider-dots_img {
    opacity: 1;
}
.new-item:hover .new-item__top-item {
    opacity: 1;
}

.new-item__top-col:not(:last-child) {
    margin-right: 25px;
}

.new-item__infos_email svg {
    width: 21px;
    height: 16px;
    fill: #cccccc;
}
.new-item__infos_email:hover svg {
    fill: #f4504c;
}

.icon-heart {
    width: 20px;
    height: 20px;
    display: block;
    transition: all 0.4s ease 0s;
    position: relative;
}
.icon-heart svg {
    width: 20px;
    height: 20px;
}
.icon-heart .svg-icon {
    transition: all 0.4s ease 0s;
}
.icon-heart .svg-icon:nth-child(1) svg {
    fill: #cccccc;
}
.icon-heart .svg-icon:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
}
.icon-heart .svg-icon:nth-child(2) svg {
    fill: #f4504c;
}
.icon-heart:hover .svg-icon:nth-child(2), .icon-heart .svg-icon.active:nth-child(2) {
    opacity: 1;
}

.aside-content {
    margin-top: 56px;
    font-size: 15px;
}
.aside-content p {
    margin: 18px 0 0 0;
    font-weight: 300;
    line-height: 26px;
    font-size: 15px;
}

.applicants__item_mobile {
    display: none;
}

.page-forms__btn {
    display: none;
    justify-content: space-between;
    margin-top: 30px;
}
.page-forms__btn a {
    padding-left: 30px;
    padding-right: 30px;
}

.no-btn {
    pointer-events: none;
    opacity: 0.8;
}

.vacancy__list-item li:not(:first-child) {
    margin-top: 10px;
}

.news__item {
    position: relative;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* фоновый цвет */
    background: #F7F7F6;
    z-index: 1001;
}

.preloader__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.all-btn-text span.search-all {
    margin-bottom: -2px;
}

.el-info__text.t_strong {
    font-weight: 500;
}

.ankets-mt {
    margin-top: 10px;
}
/*webstart*/

.anketa_title_view_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delete_svg:hover svg path{
    fill: #F45753;

}
.edit_svg:hover svg path{
    fill: #FFA210;
}
.d-flex {
    display: flex;
}
.d_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article-info__item{
    column-gap: 10px;
}
.in_progress_block{
    column-gap: 20px;
}
.in_progress_wait{
    color: #FFA210;
}
.in_progress_agree{
    color: #64C43A;
}
.in_progress_decline{
    color: #F45753;
}
.user_pic_block{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.user_pic_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user_side{
    column-gap: 12px;
}

#create-questionnaire-page .aside-content,
#vacancies-register-page .aside-content {
    margin-top: 0;
}

.info-message {
    padding: 8px;
    background: #e3e3df;
    border-radius: 5px;
    display: inline-block;
}

.pt-0 { padding-top: 0 }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pt-5 { padding-top: 5rem; }

.pb-0 { padding-bottom: 0 }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-5 { padding-bottom: 5rem; }

.pl-0 { padding-left: 0 }
.pl-1 { padding-left: 1rem; }
.pl-2 { padding-left: 2rem; }
.pl-3 { padding-left: 3rem; }
.pl-4 { padding-left: 4rem; }
.pl-5 { padding-left: 5rem; }

.pr-0 { padding-right: 0 }
.pr-1 { padding-right: 1rem; }
.pr-2 { padding-right: 2rem; }
.pr-3 { padding-right: 3rem; }
.pr-4 { padding-right: 4rem; }
.pr-5 { padding-right: 5rem; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }
.mt-5 { margin-top: 5rem; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }
.mb-5 { margin-bottom: 5rem; }

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.ml-3 { margin-left: 3rem; }
.ml-4 { margin-left: 4rem; }
.ml-5 { margin-left: 5rem; }

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.mr-4 { margin-right: 4rem; }
.mr-5 { margin-right: 5rem; }


.d-none { display: none; }


/*_media.scss*/
@media (max-width: 1200px) {
    .se-reviews_bg {
        background-position-x: 70%;
    }
}
@media (max-width: 1024px) {
    .page-forms__btn{
        display: none!important;
    }


    .header__logo {
        max-width: 146px;
    }

    .menu-header__item a {
        padding: 4px 10px;
    }

    .header__logo {
        max-width: 145px;
    }
}
@media (max-width: 992px) {
    .reviews {
        flex-wrap: wrap;
    }

    .reviews__item {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }


    .vacancy__info {
        line-height: 28px;
    }

    .section-con {
        padding: 13px 0 35px 0;
    }

    .el-filetr__link:not(:last-child) {
        padding-top: 0px;
    }

    .el-filetr__item_fil {
        margin-top: 0px;
    }

    .main-baner__content {
        padding-left: 0px;
    }

    .footer__row_top {
        margin: 0;
    }

    .footer-bottom {
        margin-right: 0;
    }

    .worker {
        margin: 0 -10px 0 -10px;
    }

    .section-con__aside {
        margin: 0px;
    }

    .el-filetr__item {
        margin-right: 0px;
    }

    .anket-all {
        margin-right: 0px;
    }

    .reviews-all {
        margin-top: 17px;
    }

    .burger-menu {
        display: block;
        margin-top: -3px;
    }

    .item-header-menu {
        display: none;
    }

    .mob-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mob-menu .item-header-menu {
        display: block;
        margin-top: 40px;
    }

    .menu-header__item:not(:last-child) {
        margin-right: 0;
    }

    .menu-header__list {
        flex-direction: column;
        text-align: center;
    }
    .menu-header__item .header__link {
        font-weight: 700;
    }

    .footer__row {
        flex-wrap: wrap;
    }

    .footer__item {
        flex: 0 1 33.33%;
        padding: 15px 0;
    }

    .footer-bottom__item_developer {
        display: none;
    }

    .popup-payment__right {
        padding: 40px 25px;
    }

    .aside-baner {
        display: none;
    }

    .section-con__main {
        width: 100%;
        padding-right: 0;
    }

    .section-con__aside {
        width: auto;
    }

    .el-filetr__item_fil {
        display: block;
    }

    .wr-filters {
        position: fixed;
        z-index: 50;
        top: 63px;
        margin-top: 0;
        right: -150%;
        transition: all 0.8s ease 0s;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
    .wr-filters .filter {
        padding: 15px 20px;
        padding-bottom: 160px;
    }
    .wr-filters .filter__row_btn {
        position: fixed;
        right: 0;
        bottom: 0;
        width: inherit;
        margin-top: 0;
        background-color: #ffffff;
        padding: 13px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        width: 100%;
        right: -150%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
    .wr-filters .filter__row_btn .btn-100 {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .wr-filters.active {
        right: 0;
    }
    .wr-filters.active .filter__row_btn {
        right: 0;
        transition: all 0.8s ease 0s;
    }

    .filter__row-btn {
        margin-top: 0px;
    }

    .el-filetr__link_mob {
        display: none;
    }

    .el-filetr__item_mob {
        display: none;
    }

    .se-reviews__row {
        max-width: 100%;
    }

    .reviews_margin {
        padding-bottom: 0;
    }

    .se-worker .slider-dots {
        margin-top: 25px;
    }

    .aside-menu {
        display: none;
    }

    .slider-dots_img {
        opacity: 1;
    }

    .new-item__top-item {
        opacity: 1;
    }

    .aside-content {
        display: none;
    }

    .mob-menu {
        top: 73.75px;
    }

    .menu-header__item a {
        padding: 10px;
    }

    .main-title {
        font-size: 30px;
    }

    .main-baner__text {
        font-size: 16px;
        line-height: 28px;
    }

    .main-baner__content {
        margin-left: 50px;
    }

    .main-baner {
        padding: 6% 0 7% 0;
    }

    .se-reviews {
        padding-top: 40px;
    }

    .footer__list a {
        text-align: center;
    }

    .footer__info {
        display: flex;
        justify-content: center;
    }

    .mob-menu {
        max-height: calc(100% - 50px);
    }

    .se-worker {
        padding-bottom: 30px;
        padding-top: 21px;
    }
}
@media (max-width: 768px) {
    .response__text {
        margin-top: 15px;
    }

    .reviews-title {
        padding-top: 12px;
    }

    .no-life {
        margin-top: 1px;
    }

    .header__login-registration {
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .header__login-registration svg {
        width: 16px;
        height: 16px;
        fill: #f4504c;
    }
    .header__login-registration span {
        margin: 0 0 0px 8px;
    }

    .grey-line {
        border-top: 1px solid #eeeded;
    }

    .section-con-ankets {
        padding: 4px 0 35px 0;
    }

    .el-select {
        margin-top: 0px;
    }

    .questionnaire__title {
        margin-top: -5px;
    }

    .questionnaire__top {
        flex-direction: column;
    }

    .questionnaire__left {
        width: 100%;
    }

    .questionnaire__contact {
        padding-left: 0;
        width: 100%;
        background-color: #fefefe;
        padding: 15px 20px 20px 20px;
    }
    .questionnaire__contact .el-info_mod .el-info__item:not(:first-child) {
        margin: 5px 0 0 0;
    }
    .questionnaire__contact .vacancy_el_info .el-info__item:not(:last-child) {
        margin-bottom: 0;
    }
    .questionnaire__contact .questionnaire__heart {
        margin-top: 15px;
    }

    .questionnaire__row-list {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid #eeeded;
        padding-bottom: 0px;
    }

    .schedule {
        padding-top: 0px;
    }

    .questionnaire__heart {
        right: 20px;
    }

    .questionnaire__info {
        font-size: 16px;
    }

    .mob-menu {
        top: 63.75px;
    }

    .vacancy_el_info {
        margin: 5px 0 25px 0;
    }

    .el-mob {
        display: block;
    }

    .vacancy__info {
        font-size: 15px;
        padding: 5px 0;
    }

    .el-filetr__link {
        padding: 0 0 1px 0;
    }

    .header__row {
        padding: 24px 0 18px 0;
    }

    .item-header-rating,
    .item-header-login-registration {
        margin: 20px 0 0 0;
        display: none;
    }

    .mob-menu .item-header-login-registration {
        display: block;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom__item {
        padding: 10px 0;
    }

    .autorization,
    .applicants {
        padding: 40px 20px 30px 20px;
    }

    .popup-payment__left {
        display: none;
    }

    .popup-payment__right {
        width: 100%;
    }

    .el-form-row_col {
        flex-direction: column;
    }
    .el-form-row_col .el-form:not(:first-child) {
        margin-top: 20px;
    }

    .title-style-tree {
        font-size: 24px;
    }

    .pages__item {
        padding: 0 0 0 0;
    }

    .pages-anket {
        background-color: #fefefe;
        margin: 0 -20px;
        padding: 5px 20px 20px 20px;
    }

    .response {
        padding-top: 20px;
    }

    .questionnaire__left .article-info {
        padding: 20px 20px;
        background-color: #f7f7f6;
        margin: 0;
        justify-content: center;
    }

    .section-con_mob-pad {
        padding-top: 0;
        padding-bottom: 0;
    }

    .pages__mob {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-mob-type {
        justify-content: center;
    }
    .btn-mob-type .site-btn {
        min-width: 182px;
    }

    .new-item:not(.new-item_mod) {
        flex-direction: column;
    }
    .new-item:not(.new-item_mod) .new-item__img {
        width: 100%;
    }
    .new-item:not(.new-item_mod) .new-item__content {
        width: 100%;
        padding: 20px;
    }

    .new-item_mod .new-item__content {
        padding: 40px 20px 20px 20px;
    }

    .pagination__btn {
        font-size: 0;
        padding: 10px;
    }

    .pagination {
        margin-bottom: 20px;
    }

    .vacancy_el_info {
        flex-direction: column;
        align-items: flex-start;
    }

    .vacancy_el_info .el-info__text {
        font-size: 15px;
    }

    .vacancy_el_info .el-info__item:not(:last-child) {
        margin-bottom: 0px;
    }

    .title-style-five {
        font-size: 24px;
    }

    .btn-pay {
        padding: 7px 30px;
    }

    .popup-payment__right {
        padding: 40px 20px 30px 20px;
    }

    .vacancy-list {
        font-size: 15px;
    }

    .vacancy__list-item li {
        flex-direction: column;
    }

    .vacancy-list__left {
        width: auto;
        line-height: 28px;
    }

    .vacancy-list__right {
        line-height: 24px;
    }

    .el-hr {
        margin: 20px 0;
    }

    .section-text h3 {
        padding-top: 18px;
        margin: 18px 0 10px 0;
    }

    .vacancy-mob-pad .section-text h3 {
        padding-top: 0px;
    }

    .section-text h3,
    .title-style-four {
        font-size: 20px;
    }

    .response .title-style-four {
        font-size: 24px;
    }

    .item-hail__img {
        width: 40px;
        height: 40px;
    }

    .item-hail__content {
        width: calc(100% - 38px);
    }

    .form-row-btn_end {
        justify-content: center;
    }

    .section-con_no-cont .container {
        padding: 0;
    }

    .wr-all {
        justify-content: center;
    }

    .se-reviews {
        padding: 22px 0 30px 0;
    }

    .mob_filt,
    .el-filetr__item_none-mob {
        display: none;
    }

    .pages__item_mob {
        padding: 15px 20px 30px 20px;
    }

    .hail {
        margin-top: 0px;
        padding-top: 0px;
    }

    .el-other {
        margin: 30px 0;
    }

    .vacancy_tar {
        padding: 0 20px;
    }

    .pages {
        background-color: #fbfbfb;
        padding-top: 10px;
    }

    .section-con__top-pad {
        padding-top: 0;
    }

    .pages_pad_top {
        padding-top: 0;
    }

    .el-form-row_three {
        flex-direction: column;
    }
    .el-form-row_three .el-form:not(:first-child) {
        margin-top: 20px;
    }

    .page-forms .el-form-row_two {
        flex-direction: column;
    }

    .page-forms_mob {
        padding: 0 20px 20px 20px;
    }

    .page-forms-bot {
        flex-direction: column;
    }
    .page-forms-bot__right {
        margin: 20px auto 0 auto;
    }

    .pages__cont {
        padding: 20px;
    }

    .header__row .header-user {
        display: none;
    }

    .mob-menu .header-user {
        order: 0;
        margin-bottom: 30px;
    }
    .mob-menu .header-user__menu-wr {
        position: relative;
        opacity: 1;
        visibility: visible;
        padding-top: 0;
    }
    .mob-menu .header-user__menu {
        background: transparent;
        box-shadow: none;
        padding: 0;
        text-align: center;
    }
    .mob-menu .header-user__name .svg-icon {
        display: none;
    }

    .anket-item {
        padding: 14px 25px;
    }

    .el-info__item {
        padding: 5px 0;
    }

    .social {
        margin-right: 0px;
        margin-top: -5px;
    }

    .new-item__text p {
        -webkit-line-clamp: 3;
    }

    .vacancy-mob-pad {
        padding-top: 0px;
    }

    .section-text_mar {
        margin-top: 20px;
    }

    .pages-anket {
        background-image: url("../img/Layer922.png");
        background-position: 0% 2%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bgwhite {
        background-image: url("../img/Layer_922.png");
        background-position: 0 0;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .section-text_mob {
        background-color: #fefefe;
        padding: 0 20px 30px 20px;
        margin-top: -30px;
    }

    h3.mt0 {
        margin-top: 30px;
    }

    .new-mob {
        display: none;
    }

    .new-item_mod .new-item__content {
        padding: 20px 20px 20px 20px;
    }

    .mt20 {
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    .reviews__item {
        flex: 0 0 calc(100% - 20px);
        margin: 10px;
    }

    .main-baner {
        padding: 35px 0 0 0;
    }

    .footer__item {
        flex: 0 1 50%;
    }

    .main-baner__img {
        position: relative;
        padding-bottom: 70%;
        background-position-x: -420px;
        box-shadow: inset 0px 16px 31px 14px #f0f3f4;
        margin: 2px 0 0 0;
    }

    .main-title {
        font-size: 21px;
    }

    .main-baner__title,
    .main-baner__text {
        text-align: center;
    }

    .main-baner__content {
        max-width: 100%;
    }

    .main-baner__wr-btn {
        justify-content: center;
    }

    .bnt-type-one {
        padding: 9px 15px;
        font-size: 14px;
        width: 100%;
    }
    .page-forms-bot__right{
        width: 100%;
        margin-top: 30px;
    }
    .main-baner__wr-btn .site-btn {
        margin: -2px 7px;
    }

    .bnt-type-one3 {
        padding: 6px 15px 6px 15px;
        letter-spacing: normal;
        font-size: 14px;
    }

    .type-text-1 {
        font-size: 15px;
    }

    .main-baner {
        padding-bottom: 0;
    }

    .popup__row {
        flex-direction: column;
    }

    .autorization,
    .applicants {
        width: 100%;
    }

    .el-social {
        flex-direction: column;
    }
    .el-social .social {
        margin-left: 0;
        margin-top: 15px;
    }

    .pagination__item a,
    .pagination__btn {
        padding: 8px;
    }

    .se-reviews__row .section-title {
        text-align: center;
    }

    .tariff-item {
        padding: 20px;
    }

    .new-item_mod .new-item__img {
        width: 180px;
        height: 190px;
    }
    .new-item_mod .new-item__content {
        width: calc(100% - 180px);
    }

    .section-text h4 {
        font-size: 16px;
    }

    .table-schedule__col div span {
        display: none;
    }

    .table-schedule__row .table-schedule__col:first-child {
        padding: 0 10px;
    }

    .table-schedule__row {
        grid-template-columns: 85px repeat(7, 1fr);
    }

    .autorization .popup__title,
    .autorization .popup__text,
    .applicants .popup__title,
    .applicants .popup__text {
        text-align: center;
    }

    .popup__title {
        font-size: 26px;
    }

    .applicants__item .popup__btn-row {
        display: flex;
        justify-content: center;
    }

    .applicants__item {
        display: none;
    }

    .applicants__item_mobile {
        display: block;
    }

    .page-forms__cont {
        display: block;
    }

    .page-forms__cont_active {
        display: block;
    }

    .page-forms__btn {
        display: flex;
    }

    .applicants__item .popup__text {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .popup__text {
        font-size: 14px;
    }

    .applicants__item_mobile .btn-site {
        width: 194px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .btn-site.mind-auto {
        width: -webkit-fit-content !important;
        width: -moz-fit-content !important;
        width: fit-content !important;
        padding-left: 22px;
        padding-right: 22px;
    }

    .applicants {
        padding-top: 25px;
    }
}
@media (max-width: 480px) {
    .reviews__item {
        flex: 1 1 auto;
        margin: 0px 10px;
    }


    .news .new-item {
        margin: 5px 0 0 0;
    }
    .news .new-item__text {
        margin: 0;
    }

    .new-item__el-info {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .new-item_mod {
        flex-direction: column;
    }

    .mob-menu {
        top: 62.75px;
    }

    .new-item__text p {
        display: none;
    }

    .news__item {
        max-height: 100%;
    }

    .footer__logo {
        max-width: 109px;
        max-height: 16px;
    }

    .anket-item {
        margin-top: 5px;
    }

    .anket-item:first-child {
        margin-top: 0px;
    }

    .anket-item__text {
        font-weight: 300;
    }

    .mob_none {
        display: none;
    }

    .footer__row_top {
        justify-content: center;
        padding: 22px 0 5px 0;
    }

    .footer__info {
        margin-bottom: 7px;
    }

    .footer__list {
        text-align: center;
    }

    .footer__item_mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #eeeeed;
        flex: 0 0 100%;
        padding-top: 14px;
    }

    .footer__year {
        display: none;
    }

    .footer-top-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 0 0;
    }

    .footer-bottom__item_mob {
        display: none;
    }

    .footer-bottom {
        padding: 4px 0 4px 0;
    }

    .tariff-item {
        flex-direction: column;
    }
    .tariff-item__main {
        max-width: 100%;
        padding-right: 0;
    }
    .tariff-item__right {
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
        justify-content: space-between;
        width: 100%;
    }
    .tariff-item__btn {
        margin: 0;
    }
    .tariff-item__price {
        margin-right: 26px;
    }

    .popup__wrapp {
        min-height: 100%;
    }

    .new-item_mod {
        flex-direction: column;
    }
    .new-item_mod .new-item__img {
        width: 100%;
        height: auto;
    }
    .new-item_mod .new-item__content {
        width: 100%;
    }

    .main-baner__content {
        margin-left: 0;
    }

    .popup__wrapp_payment {
        min-height: 1px;
    }
}
