#register-images {
    display: flex;
}

#register-images > div {
    width: 20%;
    padding: 5px;
    position: relative;
}

#register-images > div:first-child {
    padding-left: 0;
}

#register-images > div:last-child {
    padding-right: 0;
}

#register-images img {
    width: 100%;
    height: 212px;
    object-fit: cover;
}

#register-images > div:hover .close {
    background: #f5f5f4b0;
}

#register-images .close {
    cursor: pointer;
    position: absolute;
    top: 22px;
    font-weight: bold;
    right: 3px;
    font-size: 26px;
    padding: 0px 10px;
    border-radius: 50%;
    transform: translate(0%, -50%);
}

#register-images .close:hover {
    color: red;
}

#register-images-input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#register-images-input:focus + label {
    outline: thin dotted;
}

#register-images-input:focus-within + label {
    outline: thin dotted;
}


